/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Amatic SC', cursive; */
  line-height: 1.6;
  color: #3a3a3a;
  background-color: #F3F3F3;
}


a {
  text-decoration: none;
}
li a{
  transition: all .2s;
}
li a:hover {
  background-color: lightpink;
  transform: scale(1.5);
}

li a:active {
  background-color: #96E1F9;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.25em;
  margin: 0;
}

.name,
.main-nav a {
  display: block;
  text-align: center;
  padding: 10px 15px;

}

.main-nav a {
  color: #7E7ED6;
  background-color: #fff;
  margin-bottom: 15px;

}
.base-nav a {
  color: #7E7ED6;
  display: block;
}
/* ---- Header ---- */

header{
  text-align: center;
}
/* ---- Main ---- */

main {
  text-align: center;
  background: white;
}

figure{
  margin: 0;
} 

/* ---- Footer ---- */

footer {
  text-align: center;

}

.base-name{
  font-size: 1.25em;
  margin: 0;
}
.base-nav{
  border-top: 1px solid lightgray;
}

.base-nav .base-name {
  float: left;
}

.base-nav .base-list1 {
  float: right;
}

.base-list2 {
  display: none;
}
/* ---- Layout Containers ---- */

.wrap{
  min-height: calc(100vh - 188.81px);

}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

/* ---- Page Elements ---- */

img {
  width: 100%;
  max-width: 300px;
  
}

.capital {
  text-transform: uppercase;
}

section {
  vertical-align: top;
}
/* ---- Float Clearfix ---- */
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/* ================================= 
  Media Queries
==================================== */



@media (min-width: 768px) {

  .container {
    width: 90%;
    max-width: 735px;
    margin: 0 auto;
  }
  .col {
    width:49%;
    display: inline-block
  }
  header p {
    text-align: left;
  }
    .base-list1{
      display: none;
    }
    .base-list2{
      display: block;
      float: right;
    }

    .base-list2 li {
      display: inline-block;
    }
    .base-list2 a {
      display: block;
      padding: 10px 15px;
    }
    .profile-img img {
      float: right;
    }

    .name{
      display: inline-block;
    }

    .main-nav li{
      display: inline-block;
      margin-right: 10px;
    }
    
}

@media (min-width: 1024px) {
  .col {
    width: 28%;
  }
  .main-nav h1{
    float: left;
  }
  .main-nav ul {
    float: right;
  }
  .container{
    max-width: 1050px;
  }
}